#ignore the following directory
install/
build/
offline_src/
backup/
TestCases/
Data_File
*.txt
#ignore some macros files
*.root
macros/*.txt
macros/AutoDict*

#ignore the files
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
depcomp
fit_match_landau_all_scale_smear.txt
install-sh
ltmain.sh
minipad_mip_correction.txt
missing

macros/hist_2020_01_08/
macros/hist_2020_01_17/
*.gif
